@font-face {
    font-family: DOS;
    src: url(Windows\ Regular.ttf);
}
body {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: DOS;
    height: 100%;
    margin: 0;
    font-size: 20px;
}
html {
    height: 120%;
}
logo {
    margin-top: 40px;
    max-width: 680px;
    max-height: 110px;
}
a {
    color: lightgrey;
    font-size: 30px;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
}
#void {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    z-index: -5;
}
.quibble {
    margin: 35px 0px;
}
.row {
    display: flex;
    flex-direction: row;
    max-width: 1133px;
}
.column {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    align-items: center;
}
.gif {
    margin-top: 20px;
    width: 320px;
    height: 240px;
}
p {
    text-align: center;
}
.sm {
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}
.smicon {
    height: 64px;
    width: 64px;
}
